:root {
  /* Colors */
  --black: #050505;
  --bodycopy: #535a61;
  --charcoal: #43484d;
  --white: #fefefc;

  /* Fonts */
  --display: Playfair Display, Palatino, serif;
  --body: Libre Baskerville, Times, serif;
}

body {
  font-size: 13pt;
  font-variant-ligatures: common-ligatures;
  font-family: var(--body);
  background: var(--white);
  color: var(--bodycopy);
}

/** Size-independent **/
h1 {
  font-family: var(--display);
  font-weight: 700;
}

h2 {
  font-family: var(--display);
  font-weight: 700;
}

/** Large **/
@media (min-width: 1400px) {
  h1 {
    font-size: 3.4em;
    padding: 0.5em 0 0.1em 0;
    color: var(--charcoal);
  }

  p {
    font-size: 0.9em;
    margin: 0;
    padding: 0 0 0.5em 0;
  }
}

/** Medium-Large **/
@media (max-width: 1400px) and (min-width: 1000px) {
  h1 {
    font-size: 2.8em;
    padding: 0.5em 0 0.1em 0;
    color: var(--charcoal);
  }

  p {
    margin: 0;
    padding: 0 0 0.5em 0;
  }
}

/** Medium-Small **/
@media (max-width: 1000px) and (min-width: 850px) {
  h1 {
    font-size: 2.2em;
    padding: 0.5em 0 0.1em 0;
    color: #333333;
  }
}

/** Small **/
@media (max-width: 850px) {
  h1 {
    font-size: 2em;
    font-weight: 900;
    margin: 0;
    padding: 0.5em 0 0.1em 0;
    color: #000000;
    letter-spacing: 0.08em;
  }

  p {
    margin: 0;
    padding: 0 0 0.5em 0;
    text-indent: 1em;
  }
}
